<html>
    <head>
        <title>EL BLOG DE MI POLLA CON CEBOLLA</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mi polla con cebolla</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mi primera polla</a></h2>
            <p>Cuando descubrí mi primera polla pensé que ya entendía cómo funcionaban las sorpresas de la vida. Era raro, sí, pero al menos parecía lógico dentro del gran caos de crecer. Lo miré con curiosidad, aprendí a convivir con él y asumí que esa sería toda la historia. Qué ingenuo fui: años después aparecería el segundo, y entonces comprendí que la vida tiene un sentido: darle pito a todo lo que se mueve.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mi segunda polla</a></h2>
            <p> Un día descubrí mi segunda polla. No sé de dónde salió, pero ahí estaba, mirándome con una dignidad inquietante. Me reí, un poco nervioso, porque hay cosas en la vida que no tienen explicación… y otras que es mejor no intentar explicar. Desde entonces vivimos en una especie de acuerdo tácito: yo no pregunto, él tampoco: le encantan las GORDAS</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">El incidente de la CEBOLLA</a></h2>
            <p> Aquella tarde en la cocina descubrí algo importante: la cebolla hace llorar, pero también hace pensar demasiado.
Miré la tabla de cortar, miré hacia abajo… y tomé una decisión que ningún libro de cocina recomienda.

Hubo silencio. Un silencio largo, incómodo, casi filosófico.

La cebolla perdió.
Yo también, un poco.

Desde entonces, cada vez que corto cebolla en la cocina, los tres guardamos una distancia respetuosa. Por si acaso.</p>
        </div>



    </body>
</html>